<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="useCmdline" value="false"/>
        <add key="changeset" value="76551"/>
        <add key="docFile" value="fluentscript.wiki.txt"/>
        <add key="comlibPath" value="..\..\..\..\Lib\CommonLibrary.Net"/>
        <add key="examplesPath" value="\_Core\Lang\Plugins\Parser"/>
        <add key="templatePath" value="..\..\Templates\fluentscript.txt"/>
        <add key="xmlDocInstructionsPath" value="\_Samples\_ExamplesLang.xml"/>
    </appSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
