<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="langSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="templateSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <langSettings>
        <add key="EnableLimits" value="true"/>
        <add key="MaxExceptions"    value="10" />
        <add key="MaxFuncParams"    value="10" />
        <add key="MaxLoopLimit"     value="200" />
        <add key="MaxCallStack"     value="15" />
        <add key="MaxStatements"    value="200" />
        <add key="MaxScriptLength"  value="20000" />
        <add key="MaxConsequetiveExpressions" value="7" />
        <add key="MaxConsequetiveMemberAccess" value="5" />
    </langSettings>
    <replacements>
        <add key="and" value="&amp;&amp;" />
        <add key="or" value="||" />
        <add key="step" value="function" />
        <add key="do" value="{" />
        <add key="end" value="}" />
    </replacements>
    <templateSettings>
        <add key="inputfolder" value="" />
        <add key="outputfolder" value="" />
    </templateSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
