[Global]
header: This is the development application.
MaxSessions: 40
LastFtpDate: 4/22/2009
IsDatabaseReady:false


[Application]
name: Financial Sample Application
desc: A template for creating consistant c# applications.
version: 1.0


[Appserver]
server: myserver1
username: user1
password: password1