[App]
Name: FluentScript
Desc: FluentScript is a scripting language for .NET to faciliate building/using DSLs( Domain Specific Languages ). It has very flexible syntax, intuitive datatypes and a plugin based model for extending the language.


[Flags]
tokens:          : false
nodes:           : false
exec:            : false
translate:       : false
interactive:     : false
logs             : ${home}\logs
istemplate       : false
plugins          : all


[Limits]
EnableLimits     : true
MaxExceptions    : 10
MaxFuncParams    : 10
MaxLoopLimit     : 200
MaxCallStack     : 15
MaxStatements    : 200
MaxScriptLength  : 20000
MaxConsequetiveExpressions : 7
MaxConsequetiveMemberAccess : 5