[Global]
header: This is the development application.
MaxSessions: 40
LastFtpDate: 4/22/2011
IsDatabaseReady:false


[Application]
name: StockMarket Sample Application
desc: A template for creating consistant c# applications.
version: 1.0


[Appserver]
server: myserver1
username: user1
password: password1


[EmailSettings]
enableEmails: false
enableEmailsOnlyOnFailures:false
emailTo:kishore.reddy@abc.com
emailFrom:kishore.reddy@abc.com
emailSubject:StockMarketApp Sample Application


[EmailServiceSettings]
emailAuthenticationUser:user1
emailAuthenticationPassword:password1
useAuthentication:false
usePort:false
smtpServer:postman.abc.com
emailPort:25
from:kishore.reddy@abc.com